@import 'tailwindcss';
@source "../../../../packages/ui";
@source "../../../../packages/domain";
@source "../../../../packages/cms";
@source "../../../../packages/apps-config";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  body {
    @apply antialiased;
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
